/* GRID */
body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;

    padding: 0;
    margin: 0px; 
    box-sizing: border-box;
}     
  
header {
    position: relative;
    margin: 0px; 


    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;
  }

.geschiedenis{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 13;
    margin-left: 10px;
    margin-right: 10px; 

  }

.partners{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 13;
    margin-left: 10px;
    margin-right: 10px;  
  }

.contact {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 13;
    margin-left: 10px;
    margin-right: 10px; 
 
  }

footer {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 13;
  }

.adres {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 4;
  }

.contactgegevens {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 8;
  }

.samenwerken {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 8;
    grid-column-end: 13;
  }
/* EINDE GRID */

/* HEADER OVERLAY */
.gradient {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    background-image: url(assets/header-overons.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: var(--text-color-white);
    justify-content: center;
    background-position: center;
    background-attachment: fixed;
    padding: 1em;
}


h1{
    font-family: var(--font-text-bold);
    color: var(--text-color-1);
    font-size: var(--font-size-X-large);
    position: relative;
    z-index: 1;
}

h2 {
    text-align: left;
    font-family: var(--font-text-bold);
    color: var(--text-color-1);
    font-size: var(--font-size-X-large);
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}



 /* LIJST NAV BAR */
nav {
    position: relative;
    z-index: 1;
}

ul {
    display: flex;
    justify-content: right;
    gap: 20px;
}

/* ITEMS NAV BAR */
li {
    display: inline;
    text-decoration: none;
    text-align: center;
}

/* LINKS NAV BAR */
a {
    text-decoration: none;
    color: var( --text-color-1);
    font-size: var(--font-size-medium);
    font-family: var(--font-text-bold);
    cursor: pointer;
    position: relative;
 }

/* LINKS NAV BAR ON HOVER */
a:hover {
    color: var(--section-color-4);
}

.geschiedenis {
    background-color: var(--section-color-5);
    border-radius: var(--radius-card);
    padding: 1%;
    color: var( --text-color-1);
    font-size: var(--font-size-medium);
    font-family: var(--font-text-bold);
}

.partners {
    background-color: var(--section-color-3);
    border-radius: var(--radius-card);
    padding: 1%;
    color: var( --text-color-1);
    font-size: var(--font-size-medium);
    font-family: var(--font-text-bold);
}

.contact {
    background-color: var(--section-color-4);
    border-radius: var(--radius-card);
    padding: 1%;
    color: var( --text-color-1);
    font-size: var(--font-size-medium);
    font-family: var(--font-text-bold);
}

.maps {
    border-radius: var(--radius-card);
    outline-color: var(--section-color-3);
    outline-width: 2em;
    justify-content: right;
}

footer{
    background-color: var(--section-color-2);
    color: var( --text-color-5);
    font-size: var(--font-size-medium);
    font-family: var(--font-text-bold);
}

.adres {
    text-align: center;
}

.contactgegevens {
    text-align: center;
}

.samenwerken {
    text-align: center;
}